@import url(https://fonts.googleapis.com/css?family=Indie+Flower);

#image2-5 B {
  font-size: 36px;
  font-family: 'Indie Flower', cursive;
}
#image2-5 DIV {
  text-align: center;
  color: #000000;
}
